### Telegram bot
# Required.
# Telegram bot token. Take it from https://t.me/BotFather.
BOT_TOKEN=
### Postgres
# Required
POSTGRES_HOST=birthday_reminder.postgres
# Optional.
# Default: `5432`
POSTGRES_PORT=5432
# Optional.
# Default: `$USER`
POSTGRES_USER=admin
# Required
POSTGRES_PASSWORD=secretpass
# Optional.
# Default: `$USER`
POSTGRES_DB=birthday_reminder

### Logging
LOGGING_LEVEL=DEBUG
LOGGING_PATH=
LOGGING_RENDER_JSON_LOGS=false